.get--in--touch--container {
  display: grid;
  grid-template-rows: 200px 200px 200px;
  grid-template-columns: 1fr;
  margin: 50px 0;
  font-family: "Poppins", sans-serif;
}
.get--in--touch--text,
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;

  overflow: hidden;
  position: relative;
  z-index: 1;
  color: white;
}
.get--in--touch--text {
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 20px;
  background-color: rgba(255, 208, 1, 0.25);
  position: relative;
  isolation: isolate;
}
.get--in--touch--text::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: rgba(255, 208, 1, 0.35);
}
.get--in--touch--text > h1 {
  font-size: 3rem;
  text-align: center;
  line-height: 0.9;
}

.get--in--touch--text > p {
  border-radius: 10px;
}
.info {
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.info > p {
  -webkit-text-stroke-width: 0.75px;
  text-shadow: 0.75px 0.75px 0 black;
  -webkit-text-stroke-color: black;
  font-size: 1.5rem;
}
.contact {
  background-color: black;
  color: white;
  text-align: center;
  padding: 100px 15px;
}
.contact > h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.contact > p {
  font-size: 16px;
  padding: 5px 50px;
  line-height: 2;
}
.copyright {
  background-color: #ef3f38;
  color: white;
  text-align: center;
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.copyright > a {
  text-decoration: none;
  font-weight: 700;
  color: white;
}
.bg--image--footer {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 1;

  object-fit: cover;
}

.bottom--container {
  position: relative;
}
.bottom--info {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.scroll--top {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 10;
  background-image: linear-gradient(to bottom, #fcac00, black);
  display: flex;
  align-items: center;
  justify-content: center;
  right: 2%;
  top: 355px;
}

.info::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
}

@media (min-width: 780px) {
  .get--in--touch--container {
    grid-template-rows: 400px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
  }
  .get--in--touch--text {
    align-items: center;
    padding-left: 0;
  }
  .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding: 15px 15px;
  }
  .scroll--top {
    top: 25px;
  }
}

.get--in--touch--text {
  animation: toRight 1.5s ease 2s 1 normal forwards;
}
@keyframes toRight {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.info {
  animation: slideUpFast 1s ease 2s 1 normal forwards;
}
@keyframes slideUpFast {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
