.why--section--container {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 40px;
  margin: 35px 0;
  font-family: "Poppins", sans-serif;
  position: relative;

  background-image: linear-gradient(to right, #ef3f38, #fdcf00);
}

.background--img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

  opacity: 0.7;
  z-index: -1;
}

.why--front--area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 15px;
}
.why--details--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.why--front--area > h1 {
  font-size: 40px;
  color: black;
}
.why--front--area > h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 0;
  color: black;
}
.why--details {
  padding: 20px 20px;
  margin-bottom: 30px;
  font-size: 16px;
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.why--details > h1 {
  font-size: 100px;
}
.why--details > h2 {
  font-size: 20px;
  margin: 0 0 20px;
  font-weight: 700;
  transition: all ease 0.4s;
}
.why1 > h2 {
  color: black;
}
.why1 > h2:hover {
  color: #ef3f38;
  cursor: pointer;
}

.why3 > h2 {
  color: black;
}
.why3 > h2:hover {
  color: #ef3f38;
  cursor: pointer;
}
.why--details > p {
  line-height: 1.8;
  font-size: 16px;
}
.why1,
.why3 {
  background-color: white;
}
.why1,
.why3 > h1 {
  color: #ef3f38;
}
.why2 {
  background-color: #ef3f38;
  color: white;
}
.why2 > p {
  color: white;
  opacity: 0.9;
}
.why2 > h2:hover {
  color: black;
  cursor: pointer;
}
.bold--text {
  font-weight: 700;
}
.why--details .read--more {
  margin-top: 10px;
  color: #ffe602;
  margin-left: 70%;
  font-size: 14px;
}
.read--more:hover {
  cursor: pointer;
}

@media (min-width: 1024px) {
  .why--details--container {
    flex-direction: row;
    gap: 20px;
  }
  .why--section--container {
    margin: 70px 0;
  }
  .why--front--area > h2 {
    margin: 30px 0;
    font-size: 35px;
  }
  .why--front--area > h1 {
    font-size: 50px;
  }
  .why--details {
    padding: 40px 35px;
  }
  .why--details > h1 {
    font-size: 120px;
  }
  .why--details .read--more {
    font-size: 1rem;
  }
}

.details--text {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.why--card {
  position: relative;

  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.why--card::before {
  content: "";
  position: absolute;
  inset: 0;

  margin: auto;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -1;
  scale: 1.01;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.why--card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.why--card p:not(.heading) {
  font-size: 14px;
}

.why--card p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.why--card:hover::after {
  filter: blur(20px);
}

.why--card:hover::before {
  transform: scaleX(1.05) scaleY(1.05);
}
.why--card:hover {
  scale: 1.025;
  color: black;
}
