* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --mainGreen: #ef3f38;
  --mildGray: #777777;
}
#blog--heading--text {
  font-size: 3rem;
  padding: 10px;
  text-align: center;
}
.blog--overview--container {
  display: flex;
  gap: 25px;
  margin-top: 30px;
  align-items: center;
  justify-content: center;

  @media (max-width: 1024px) {
    flex-direction: column;
    padding: 0;
  }
}
.blog--overview {
  width: 350px;
  height: 400px;
  padding: 15px;
  background-color: #ef3f38;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(231, 166, 26, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(231, 166, 26, 1);
  box-shadow: 10px 10px 5px 0px rgba(231, 166, 26, 1);
}
.blog--overview > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.blog--overview > p {
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.blog--overview:hover {
  cursor: pointer;
}
